.is-content-hidden
	opacity: 0;
	transition: .9s all ease-in-out;
	&.__visible
		opacity: 1;
		margin-top: 0;

.navbar-default .navbar-nav>li>a, #footer #bottom_nav a, #footer #copyright .callback-link
	trans()
	&:hover
		color: #2d99f1;
nav .container ul#nav_left > li > a, #catalog-link a
	transition: all 500ms ease-out;
.navbar-brand, .navbar-nav>li>a
	transition: all 500ms ease-out;
	&:hover
		opacity 0.8

#nav_right #search-link form input[type='submit']
	padding: 0px;
	width: 46px;
	border: 0px none;
	height: 48px;
	display: block;
	background:#533654 url(../images/icons/icon-search.png) 50% 50% no-repeat;
	position:relative;
	z-index:1;
	user-select: none;
	outline:none;
	transition: all 500ms ease-out;
	&:hover
		background-color #533654 + 10%
#nav_right li#little_cart a
	padding: 0px;
	width: 46px;
	border: 0px none;
	background:#533654
	transition: all 500ms ease-out;
	height: 48px;
	display: block;
	position relative
	&:hover
		background-color #533654 + 10%
	&:before
		content ''
		display block
		position absolute
		top 0
		left 0
		right 0
		bottom 0
		margin auto
		sprite($s-icon-basket)

#nav_right .close
	trans()
	&:hover
		opacity 0.8
a.sale-link
	transition: all 500ms ease-out;
	&:hover
		opacity 0.8
.product-list .item .item-wrap
	transition: all 500ms ease-out;
a
	cursor pointer
#info .title a
	color #333
#info .title a:hover
	color: #2d99f1;

.anounce-info
	_text-overflow(100%)

#info .anounce.col-lg-4 .img img
	transition: all 500ms ease-out;
	&:hover
		transform: scale(1.1);
#info .anounce.col-lg-4 .img
	overflow hidden
	height 152px

input[type='submit']:focus, button, input[type='button']:focus
	outline 0
#feed form input[type='submit']
	transition: all 500ms ease-out;
	&:hover
		background: #563856 + 15%;
a
	color inherit

.falseLink
	display inline-block
	border-bottom 1px dotted #6a3b6b
	cursor pointer
	color #6a3b6b
	text-decoration none
	trans()
	line-height normal
	margin-bottom 13px
	&:hover
		color #2d99f1
		border-color #2d99f1
#utp + .container .text
	font: 300 11px/18px "Ubuntu";
#footer #copyright
	color: #ccc;



#catalog-link span
	&:before
		sprite($s-catalog-arrow)
		content: "";
		display: block;
		position: absolute;
		top: 50%;
		left: -44px;
		margin-top: -2px;
		z-index: 5;
	&:after
		content: "";
		display: block;
		position: absolute;
		top: -15px;
		left: -60px;
		width: 46px;
		height: 46px;
		transition: all 500ms ease-out;
		background: #533654;

#catalog-link a
	&:hover
		span:after
			background-color: #69456b;
	&.active
		span
			&:before
				sprite($s-catalog-arrow-up)
			&:after
				background-color: #69456b;
@media (max-width: 1100px)
	nav .container ul#nav_left > li > a
		position relative
		&:after
			content ''
			sprite($s-catalog-arrow-menu)
			display block
			position absolute
			top 50%
			margin-top -6px
			right 15px

nav .container ul#nav_left > li
	@media (max-width: 1100px)
		border-bottom 1px solid #332233

nav .container ul#nav_left > li > a
	@media (max-width: 1100px)
		padding-right 40px

ul#nav_left .combo .anounce
	@media (max-width: 1100px)
		display none

ul#nav_left > li > div
	@media (max-width: 1100px)
		width 100%
		min-height 100%

ul#nav_left ul ul
	@media (max-width: 1100px)
		display none

ul#nav_left > li > div > ul > li
	@media (max-width: 1100px)
		width 100%
		padding 0
		line-height: 48px;

ul#nav_left div > ul > li > a
	@media (max-width: 1100px)
		min-height 48px
		display block
		margin 0
		line-height 48px
		font-weight 300
		font-size 14px
		transition: all 500ms ease-out;
		background: rgb(64, 42, 64) none repeat scroll 0% 0%;
		&:after
			content: '';
			sprite($s-catalog-arrow-menu)
			display: block;
			position: absolute;
			top: 50%;
			margin-top: -6px;
			right: 15px;
		&:hover
			background: #563856;
			color #fff

ul#nav_left div > ul > li > a.callback-level
	padding-left: 42px;
	&:after
		sprite($s-back-catalog)
		left: 18px;
		right: inherit;

.nav-category-name
	padding-left 18px!important
	padding-right 18px!important
	font-size 18px
	background #563856

ul#nav_left .combo > ul
	@media (max-width: 1100px)
		width 100%
.inner-wrapper
	padding: 25px 20px 0;

h1
	color #333
	font-size 32px
	margin-bottom 35px;
	line-height 40px
	font-family  'Open Sans', Arial, sans-serif;
	font-weight 300

.left
	float left
.right
	float right

.seo-text
	font: 300 11px/18px "Ubuntu";
	margin-bottom 100px
	@media (max-width: 770px)
		margin-bottom 40px
#utp + .container
	margin-top 50px
	margin-bottom 50px
	.seo-text
		margin-bottom 0







.slick-prev:before
	content ''
	sprite($s-catalog-arrow-up)
	display inline-block

.slick-next:before
	content ''
	sprite($s-catalog-arrow)
	display inline-block

.slick-prev
	left: 0;
	top: 10px;
	text-align center
	background: rgba(0,0,0,0.5);
	width: 100%;
	z-index 5
	trans()
	&:hover, &:focus
		background: rgba(0,0,0,0.2);
	@media (max-width: 655px)
		top: 39px;
		width: 18px;
		height: 78px;
		&:before
			sprite($s-pagination-left)
.slick-next
	right: 0;
	bottom: 10px;
	text-align center
	background: rgba(0,0,0,0.5);
	width: 100%;
	top inherit
	z-index 5
	trans()
	@media (max-width: 655px)
		top: 39px;
		width: 18px;
		height: 78px;
		&:before
			sprite($s-pagination-right)
	&:hover, &:focus
		background: rgba(0,0,0,0.2);
.btn
	&.__big
		color #fff
		font-size 18px
		height 46px
		line-height 44px
		display inline-block
		vertical-align middle
		&:hover
			color #333
.btn-orange
	background #f27151
	padding 0 20px
	cursor pointer
	color #fff
	font-size 18px
	display inline-block
	vertical-align middle
	height 46px
	line-height 44px
	&:hover
		opacity 0.7
		color #fff
	& + .btn
		margin-right 15px
		@media (max-width: 560px)
			margin-right 0

.tabs
	position: relative;
	@media (max-width: 760px)
		display none
	&-item
		float: left;
		background: #fafafa;
		color #808080
		font-size: 14px;
		height: 40px;
		position relative
		line-height: 40px;
		padding: 0 15px;
		border 1px solid #e6e6e6
		border-bottom 0
		text-decoration: none;
		display block
		trans()
		@media (max-width: 992px)
			padding 0 7px

		@media (max-width: 760px)
			float none
			width auto

			margin 0 -15px
			text-align center!important
			&.__current
				border-bottom 1px solid #e6e6e6
				margin-bottom 15px

		&.__recommend
			float right
			color #6a3b6b
			font-weight bold
			background none
			border-color transparent
			border-right 0
			border-left 1px solid transparent!important
			@media (max-width: 760px)
				float none
				border-top 1px solid #e6e6e6

			&.__current
				border-color #e6e6e6!important
			span
				border-bottom 1px dotted #6a3b6b

		&.__advantages
			float right
			color #6a3b6b
			border-left 1px solid #e6e6e6!important
			font-weight bold
			@media (max-width: 760px)
				float none
				border-bottom 1px solid #e6e6e6
				& + .tabs-content-info
					border-bottom 1px solid #e6e6e6
		&:after
			content ''
			width 100%
			left 0
			bottom -3px
			display block
			height 6px
			position absolute
			background transparent
			trans()
			@media (max-width: 760px)
				display none
		& + &
			border-left 0
		&.__current, &:hover
			background #fff
			color #808080
		&.__current
			&:after
				background #fff
				z-index 3
	&-ctn
		position: relative;
		margin-bottom: 60px;
		padding: 25px 15px;
		text-align left
		border 1px solid #e6e6e6
		@media (max-width: 760px)
			padding 0
			border 0
		& + .product-list
			padding-top 0
		*
			text-align left

		[data-tabs-group]
			display none
			@media (max-width: 760px)
				display block

			&.__current
				display block
	&-content-info
		@media (max-width: 760px)
			padding: 15px;
			margin: -15px -15px 0;
			display: none;
			border-left: 1px solid #e6e6e6;
			border-right: 1px solid #e6e6e6;
[data-tabs-group].__current
	@media (max-width: 760px)
		.tabs-content-info
			display block