.breadcrumbs
	position relative
	color #b3b3b3
	font-family 'Open Sans', Arial, sans-serif;
	font-size 13px
	margin-bottom 25px
	&-link, &-sep
		display inline-block
		vertical-align middle
		a&
			color #6a3b6b
			trans()
			&:hover
				color #2d99f1
	&-sep
		sprite($s-arrow-sep)
		margin 0 3px