.catalog
	&-header
		position relative
		margin: .67em 0;
		h1
			float left
			margin 0
			@media (max-width: 550px)
				float none
				margin-bottom 17px

.catalog-sort
	@media (max-width: 550px)
		float none
		margin-bottom 0