.product-list
	&.__product
		padding 0
		@media (max-width: 760px)
			margin-bottom: 30px;
	&-show
		border: 1px solid #E6E6E6;
		margin: 0 -20px 10px;
		font-size: 18px;
		padding: 2px 5px;
		cursor pointer
		vertical-align: middle;
		@media (max-width: 760px)
			margin: 0 -30px;
		&:hover, &.__active
			background #eee
		&.__active
			&:after
				sprite($s-select-arrow-up)
		&.__active + .product-list-ctn
			opacity 1
			visibility visible
			height auto

		&:after
			content ''
			display inline-block
			sprite($s-select-arrow)
			margin-left 5px
	&-ctn
		opacity 0
		visibility hidden
		height 0
	&.__catalog
		padding 0
		@media (max-width: 770px)
			margin 0 -20px
		.item-wrap
			margin  0
		.item
			display inline-block
			vertical-align top
			margin-right -4px;
			width 33.33%;
			@media (max-width: 770px)
				display block
				position relative
				border-bottom 1px solid #e6e6e6
				width 100%
				&:after
					content ''
					display block
					sprite($s-catalog-arrow-right)
					position absolute
					top: 50%;
					right: 20px;
					margin-top: -6px;

				&:first-child
					border-top 1px solid #e6e6e6
		.title
			height 72px
			overflow hidden
			@media (max-width: 992px)
				height auto
		.img
			@media (max-width: 770px)
				float left
				width 30%
				height auto
				text-align center
				padding 10px
				&:after
					display none
				& + .item-info
					width 70%
		.item-info
			@media (max-width: 770px)
				float left
				width 100%
				text-align: left;
				padding-left: 14px;
				padding-right 30px
		.item-wrap
			clear()

		.price
			@media (max-width: 770px)
				margin: 10px 0 15px;