.product-info
	position relative
	margin-bottom 15px
	border 1px solid #e6e6e6
	border-top 0
	&-desc
		display none
		border-top 1px solid #e6e6e6
		padding 10px
		color #999
		font-size 14px
		p, ul, ol
			margin 0
	&-title
		position relative
		border-top 1px solid #e6e6e6
		background #fafafa
		padding 10px 115px 10px 10px;
		&.__active
			.ui-type-radio .ui-button-text
				color #4d4d4d
			.product-info-price
				color #f27151
		.ui-type-radio .ui-button-text
			font-size 15px
			font-weight bold
			color #808080
			margin-top 2px
	&-price
		color #b3b3b3
		font-size 18px
		font-weight bold
		position absolute
		top 50%;
		right 10px
		margin-top -11px
