head
	block title
		title!= ( currentPageTitle && currentPageTitle.length > 0 ? currentPageTitle[currentPageTitle.length - 1] : 'Macov.net' )

	meta(charset='utf-8')
	meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')

	<!-- [ START ] Стили библиотек-->
	link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,600italic,700,700italic&subset=latin,cyrillic-ext', rel='stylesheet', type='text/css')
	|<link href='https://fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500,700,700italic,500italic&subset=cyrillic,latin,greek' rel='stylesheet' type='text/css'>
	link(rel='stylesheet', href='css/vendor.min.css')
	<!-- [  END  ] Стили библиотек-->

	<!-- [ START ] Стили проекта-->
	link(rel='stylesheet', href='css/style.css')
	link(rel='stylesheet', href='css/production.css')
	//стили для программиста
	link(rel='stylesheet', href='css/additional.css')
	<!-- [  END  ] Стили проекта-->

	//if lt IE 9
		<script src="js/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

	block scripts



