<table id="wrapper" align="center" width="600" cellpadding="0" cellspacing="0"
       style="border-collapse: collapse;background: #fff">
    <tr>
        <td colspan="4" height="20"></td>
    </tr>
    <tr>
        <td width="20">&nbsp;</td>
        <td width="280" align="left">
            <a href="https://biggeek.ru" target="_blank">
                <img src="https://biggeek.ru/design/biggeek/images/logo.svg" alt="biggeek.ru" width="215"/>
            </a>
        </td>
        <td width="280" align="right">
            <table width="255" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
                <tr>
                    <td width="45">
                        <img src="callback-mail.png" align=""/>
                    </td>
                    <td>
                        <p style="margin:0;padding:0;padding-bottom:10px;font-family: Arial, Helvetica, sans-serif;font-size:21px;color:#b3b3b3;font-weight: bold;">
                            8 (495) <span style="color: #000">943 <span
                                style="    position: relative;top: -7px;">.</span> 49 <span
                                style="    position: relative;top: -7px;">.</span> 43</span>
                        </p>

                        <p style="margin:0;color: #b3b3b3;font-size: 13px;padding: 0;font-family: Arial, Helvetica, sans-serif;">
                            Ежеджневно в 10:00 до 21:00</p>
                    </td>
                </tr>
            </table>
        </td>
        <td width="20" colspan="4">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="4" height="20"></td>
    </tr>
    <tr>
        <td colspan="4">
            <table align="center" width="600" cellpadding="0" cellspacing="0"
                   style="font-family: Arial, Helvetica, sans-serif;border-collapse: collapse;background: #402a40;color:#fff;font-weight: bold;">
                <tr>
                    <td style="width:110px;text-align:center;background: #f2576d;color:#ffffff;font-family: Arial, Helvetica, sans-serif;font-size: 14px;height: 45px;">
                        <a href="https://biggeek.ru/reviews" target="_blank"
                           style="color:#ffffff!important;text-decoration: none;font-weight: normal;">
                            <span style="color:#ffffff!important;">Обзоры</span>
                        </a>
                    </td>
                    <td style="width:95px;text-align:center;color:#ffffff;font-family: Arial, Helvetica, sans-serif;font-size: 14px;height: 45px;">
                        <a href="https://biggeek.ru/trade-in" target="_blank"
                           style="color:#ffffff!important;text-decoration: none;">
                            <span style="color:#ffffff!important;">Trade-In</span>
                        </a>
                    </td>
                    <td style="text-align: center;width: 15px">
                        <span style="color:#ffffff;font-family: Arial, Helvetica, sans-serif;font-size: 14px;position: relative;top:-4px">.</span>
                    </td>
                    <td style="text-align:center;color:#ffffff;font-family: Arial, Helvetica, sans-serif;font-size: 14px;height: 45px;">
                        <a href="https://biggeek.ru/dostavka-oplata" target="_blank"
                           style="color:#ffffff!important;text-decoration: none;">
                            <span style="color:#ffffff!important;">Доставка и оплата</span>
                        </a>
                    </td>
                    <td style="text-align: center;width: 15px">
                        <span style="color:#ffffff;font-family: Arial, Helvetica, sans-serif;font-size: 14px;position: relative;top:-4px">.</span>
                    </td>
                    <td style="text-align:center;color:#ffffff;font-family: Arial, Helvetica, sans-serif;font-size: 14px;height: 45px;">
                        <a href="https://biggeek.ru/warranty" target="_blank"
                           style="color:#ffffff!important;text-decoration: none;">
                            <span style="color:#ffffff!important;">Гарантия</span>
                        </a>
                    </td>
                    <td style="text-align: center;width: 15px">
                        <span style="color:#ffffff;font-family: Arial, Helvetica, sans-serif;font-size: 14px;position: relative;top:-4px">.</span>
                    </td>
                    <td style="width: 105px;text-align:center;color:#ffffff;font-family: Arial, Helvetica, sans-serif;font-size: 14px;height: 45px;">
                        <a href="https://biggeek.ru/contacts" target="_blank"
                           style="color:#ffffff!important;text-decoration: none;">
                            <span style="color:#ffffff!important;">Конакты</span>
                        </a>
                    </td>
                </tr>

            </table>
        </td>
    </tr>
    <tr>
        <td colspan="4" height="15px;"></td>
    </tr>
    <tr>
        <td style="width: 15px;"></td>
        <td colspan="2">
            <div style="padding-bottom: 10px;font-family: Arial, Helvetica, sans-serif;font-size: 19px;color:#000000;">
                Василий Петрович Иванов, ваш заказ <span style="color:#f27151;">№48899</span> оформлен!
            </div>
            <div style="padding-bottom: 13px;text-indent: 13px;font-family: Arial, Helvetica, sans-serif;font-size: 13px;color:#000000;">
                Нам очень приятно, что Вы решили приобрести свой гаджет в нашем магазине. В ближайшее время с Вами
                свяжется оператор по указанному номеру и уточнит все Ваши пожелания. Если у вас есть вопросы, вы лично
                можете позвонить нам по телефону 8(495)943-49-43.
            </div>
            <div style="padding-bottom: 13px;text-indent: 13px;font-family: Arial, Helvetica, sans-serif;font-size: 13px;color:#000000;">
                Пожалуйста, внимательно проверьте предоставленную Вами информацию, если номер телефона указан неверно,
                мы не сможем до вас дозвониться.
            </div>
        </td>
        <td style="width: 15px;"></td>
    </tr>
    <tr>
        <td style="width: 15px;"></td>
        <td colspan="2">
            <table cellpadding="6" cellspacing="0" style="border-collapse: collapse;font-size: 14px;" width="570px">

                <tr>
                    <td style="padding:6px; width:170px; background-color:#f0f0f0; border:1px solid #e0e0e0;font-family:arial;">
                        Имя, фамилия
                    </td>
                    <td style="padding:6px; background-color:#ffffff; border:1px solid #e0e0e0;font-family:arial;">
                        Василий Петрович Иванов
                    </td>
                </tr>
                <tr>
                    <td style="padding:6px; background-color:#f0f0f0; border:1px solid #e0e0e0;font-family:arial;">
                        Email
                    </td>
                    <td style="padding:6px; background-color:#ffffff; border:1px solid #e0e0e0;font-family:arial;">
                        <a href="mailto:nnick@bk.ru" style="color:#3568e4!important">
                            <span style="color:#3568e4!important">nnick@bk.ru</span>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td style="padding:6px; background-color:#f0f0f0; border:1px solid #e0e0e0;font-family:arial;">
                        Телефон
                    </td>
                    <td style="padding:6px; background-color:#ffffff; border:1px solid #e0e0e0;font-family:arial;">
                        79627012361
                    </td>
                </tr>
                <tr>
                    <td style="padding:6px; background-color:#f0f0f0; border:1px solid #e0e0e0;font-family:arial;">
                        Адрес доставки
                    </td>
                    <td style="padding:6px; background-color:#ffffff; border:1px solid #e0e0e0;font-family:arial;">
                        г. Санкт-Петербург, ул. Трактораня 3, д. 8
                    </td>
                </tr>
                <tr>
                    <td style="padding:6px; background-color:#f0f0f0; border:1px solid #e0e0e0;font-family:arial;">
                        Комментарий
                    </td>
                    <td style="padding:6px; background-color:#ffffff; border:1px solid #e0e0e0;font-family:arial;">
                        здесь будет комментарий
                    </td>
                </tr>
                <tr>
                    <td style="padding:6px; background-color:#f0f0f0; border:1px solid #e0e0e0;font-family:arial;">
                        Дата оформления
                    </td>
                    <td style="padding:6px; width:170; background-color:#ffffff; border:1px solid #e0e0e0;font-family:arial;">
                        31.05.2015 12:41
                    </td>
                </tr>
            </table>
        </td>
        <td style="width: 15px;"></td>
    </tr>
    <tr>
        <td colspan="4" height="15px;"></td>
    </tr>

    <tr>
        <td style="width: 15px;"></td>
        <td colspan="2">
            <div style="font-family: Arial, Helvetica, sans-serif;font-size: 19px;color:#000000;">
                Заказ <span style="color:#f27151;">№48899</span> на сумму <span
                    style="color:#f27151;">133 310 руб.</span>
            </div>
            <div style="font-family: Arial, Helvetica, sans-serif;font-size: 13px;color:#000000;">
                Пожалуйста, учитите: эта сумма не включает в себя возможные комиссии платежных систем.
            </div>
        </td>
        <td style="width: 15px;"></td>
    </tr>
    <tr>
        <td colspan="4" height="30px;"></td>
    </tr>
    <tr>
        <td style="width: 15px;"></td>
        <td colspan="2">
            <table cellspacing="0" style="border-collapse: collapse;font-size: 13px;" width="570px">
                <tr>
                    <td align="center"
                        style="padding:6px; width:100px; background-color:#ffffff; border:1px solid #e0e0e0;font-family:arial;">
                        <a href="https://biggeek.ru/products/smartfon-huawei-mate-8-32gb-gray" target="_blank">
                            <img border="0" src="https://biggeek.ru/files/products/14491339900.435x435.jpg"
                                 width="65px">
                        </a>
                    </td>
                    <td style="padding:6px; width:350px; background-color:#f0f0f0; border:1px solid #e0e0e0;font-family:arial;">
                        <a href="https://biggeek.ru/products/smartfon-huawei-mate-8-32gb-gray" target="_blank"
                           style="color:#3568e4!important">
                            <span style="color:#3568e4!important">Смартфон Huawei Mate 8 32Gb Gray</span>
                        </a>
                        Стандартный комплект
                    </td>
                    <td align="right"
                        style="padding:6px; text-align:right; width:150px; background-color:#ffffff; border:1px solid #e0e0e0;font-family:arial;">
                        1 шт x 37 990 руб
                    </td>
                </tr>
                <tr>
                    <td align="center"
                        style="padding:6px; width:100px; background-color:#ffffff; border:1px solid #e0e0e0;font-family:arial;">
                        <a href="https://biggeek.ru/products/shlem-virtualnoj-realnosti-vr-box-20" target="_blank">
                            <img border="0" src="https://biggeek.ru/files/products/ag12.435x435.jpg" width="65px">
                        </a>
                    </td>
                    <td style="padding:6px; width:270px; background-color:#f0f0f0; border:1px solid #e0e0e0;font-family:arial;">
                        <a href="https://biggeek.ru/products/shlem-virtualnoj-realnosti-vr-box-20" target="_blank"
                           style="color:#3568e4!important">
                            <span style="color:#3568e4!important">Шлем виртуальной реальности VR Box 2.0</span>
                        </a>

                    </td>
                    <td align="right"
                        style="padding:6px; text-align:right; width:150px; background-color:#ffffff; border:1px solid #e0e0e0;font-family:arial;">
                        1 шт x 30 990 руб
                    </td>
                </tr>
                <tr>
                    <td align="center"
                        style="padding:6px; width:100px; background-color:#ffffff; border:1px solid #e0e0e0;font-family:arial;">
                        <a href="https://biggeek.ru/products/smartfon-huawei-mate-8-32gb-gray" target="_blank">
                            <img border="0" src="https://biggeek.ru/files/products/14491339900.435x435.jpg"
                                 width="65px">
                        </a>
                    </td>
                    <td style="padding:6px; width:270px; background-color:#f0f0f0; border:1px solid #e0e0e0;font-family:arial;">
                        <a href="https://biggeek.ru/products/smartfon-huawei-mate-8-32gb-gray" target="_blank"
                           style="color:#3568e4!important">
                            <span style="color:#3568e4!important">Смартфон Huawei Mate 8 32Gb Gray</span>
                        </a>
                        Стандартный комплект
                    </td>
                    <td align="right"
                        style="padding:6px; text-align:right; width:150px; background-color:#ffffff; border:1px solid #e0e0e0;font-family:arial;">
                        1 шт x 37 990 руб
                    </td>
                </tr>
                <tr>
                    <td align="center"
                        style="padding:6px; width:100px; background-color:#ffffff; border:1px solid #e0e0e0;font-family:arial;">
                        <a href="https://biggeek.ru/products/shlem-virtualnoj-realnosti-vr-box-20" target="_blank">
                            <img border="0" src="https://biggeek.ru/files/products/ag12.435x435.jpg" width="65px">
                        </a>
                    </td>
                    <td style="padding:6px; width:270px; background-color:#f0f0f0; border:1px solid #e0e0e0;font-family:arial;">
                        <a href="https://biggeek.ru/products/shlem-virtualnoj-realnosti-vr-box-20" target="_blank"
                           style="color:#3568e4!important">
                            <span style="color:#3568e4!important">Шлем виртуальной реальности VR Box 2.0</span>
                        </a>
                        Стандартный комплект
                    </td>
                    <td align="right"
                        style="padding:6px; text-align:right; width:150px; background-color:#ffffff; border:1px solid #e0e0e0;font-family:arial;">
                        1 шт x 30 990 руб
                    </td>
                </tr>
                <tr>
                    <td align="center"
                        style="padding:6px; width:100px; background-color:#ffffff; border:1px solid #e0e0e0;font-family:arial;">
                        &nbsp;</td>
                    <td style="padding:6px; width:270px; background-color:#f0f0f0; border:1px solid #e0e0e0;font-family:arial;">
                        Скидка
                    </td>
                    <td align="right"
                        style="padding:6px; text-align:right; width:150px; background-color:#ffffff; border:1px solid #e0e0e0;font-family:arial;">
                        0.00%
                    </td>
                </tr>
                <tr>
                    <td align="center"
                        style="padding:6px; width:100px; background-color:#ffffff; border:1px solid #e0e0e0;font-family:arial;">
                        &nbsp;</td>
                    <td style="padding:6px; width:270px; background-color:#f0f0f0; border:1px solid #e0e0e0;font-family:arial;">
                        Самовывоз (Москва, Багратионовский проезд, д.7)
                    </td>
                    <td align="right"
                        style="padding:6px; text-align:right; width:150px; background-color:#ffffff; border:1px solid #e0e0e0;font-family:arial;">
                        0 руб
                    </td>
                </tr>
                <tr>
                    <td align="center"
                        style="padding:6px; width:100px; background-color:#ffffff; border:1px solid #e0e0e0;font-family:arial;">
                        &nbsp;</td>
                    <td style="padding:6px; width:270px; background-color:#f0f0f0; border:1px solid #e0e0e0;font-family:arial;">
                        <b>Итого (без учета комиссии платежных систем!)</b>
                    </td>
                    <td align="right"
                        style="padding:6px; text-align:right; width:150px; background-color:#ffffff; border:1px solid #e0e0e0;font-family:arial;">
                        <b>133 310 руб</b>
                    </td>
                </tr>


            </table>
        </td>
        <td style="width: 15px;"></td>
    </tr>
    <tr>
        <td colspan="4" height="15px"></td>
    </tr>
    <tr>
        <td style="width: 15px;"></td>
        <td colspan="2" style="font-size: 13px;font-family: Arial, Helvetica, sans-serif;">
            Вы всегда можете проверить состояние Вашего заказа, перейдя по ссылке:
            <a href="https://biggeek.ru/order/shlem-virtualnoj-realnosti-vr-box-20" target="_blank"
               style="color:#3568e4!important;">
               <span style="color:#3568e4!important">
                   https://biggeek.ru/order/shlem-virtualnoj-realnosti-vr-box-20
               </span>
            </a>
        </td>
        <td style="width: 15px;"></td>
    </tr>
    <tr>
        <td colspan="4" height="20px"></td>
    </tr>
    <tr>
        <td colspan="4" height="15px;" style="border-top: 1px solid #e0e0e0">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="4">
            <table cellspacing="0" style="border-collapse: collapse;font-size: 13px;" width="600px">
                <td style="text-align: right;" colspan="2" width="435px">
                    <div style="font-size: 13px;color:#b3b3b3;font-family: Arial, Helvetica, sans-serif;"> Следите за нами в социальных сетях:</div>
                </td>
                <td style="text-align: right;width: 150px;">

                    <a href="https://www.facebook.com/biggeekru" target="_blank" style="text-decoration: none;">
                        <img src="fb-mail.png" alt="" border="0">
                    </a>
                    <a href="https://vk.com/biggeekru" target="_blank" style="text-decoration: none;">
                        <img src="vk-mail.png" alt="" border="0">
                    </a>
                    <a href="https://twitter.com/biggeekru" target="_blank" style="text-decoration: none;">
                        <img src="twitter-mail.png" alt="" border="0">
                    </a>
                    <a href="https://www.instagram.com/biggeekru/" target="_blank" style="text-decoration: none;">
                        <img src="insta-mail.png" alt="" border="0">
                    </a>
                    <a href="https://www.youtube.com/channel/UCQ18THOcZ8nIP-A3ZCqqZwA?sub_confirmation=1" target="_blank"
                       style="text-decoration: none;">
                        <img src="youtube-mail.png" alt="" border="0">
                    </a>

                </td>
                <td style="width: 15px;"></td>
            </table>
        </td>

    </tr>
    <tr>
        <td colspan="4" height="15px;" style="border-bottom: 1px solid #e0e0e0">&nbsp;</td>
    </tr>
    </tr>
    <tr>
        <td colspan="4" height="15px;" >&nbsp;</td>
    </tr>
    <tr>
        <td style="width: 15px;"></td>
        <td colspan="2">
            <div style="font-size: 13px;color:#b3b3b3;font-family: Arial, Helvetica, sans-serif;">
                Вы получили это сообщение, так как на адрес <span style="color:#f27151;">nnick@bk.ru</span> был оформлен заказ в магазине Big Geek.
                Чтобы не пропустить важную информацию о статусе вышего заказа, добавьте <span style="color:#f27151;">info@biggeek.ru</span> в адресную книгу
            </div>
        </td>
        <td style="width: 15px;"></td>
    </tr>
    <tr>
        <td colspan="4" height="30px;" >&nbsp;</td>
    </tr>
    <tr>
        <td style="width: 15px;"></td>
        <td colspan="2">
            <div style="font-size: 13px;color:#b3b3b3;font-family: Arial, Helvetica, sans-serif;">
              Если вы считаете, что данное сообщение было отправлено по ошибке, пожалуйста сообщите об этом в ответном письме.
            </div>
        </td>
        <td style="width: 15px;"></td>
    </tr>
    </tr>
    <tr>
        <td colspan="4" height="30px;" >&nbsp;</td>
    </tr>
</table>


