div.product-detail.js-product-detail
	div.product-detail-item
		img(src="https://placeholdit.imgix.net/~text?txtsize=46&bg=67ddaf&txtclr=ffffff&txt=435%C3%97435&w=435&h=435" alt="")
	div.product-detail-item
		img(src="https://placeholdit.imgix.net/~text?txtsize=46&bg=c666c6&txtclr=ffffff&txt=435%C3%97435&w=465&h=465" alt="")
	div.product-detail-item
		img(src="https://placeholdit.imgix.net/~text?txtsize=46&bg=67ddaf&txtclr=ffffff&txt=435%C3%97435&w=435&h=435" alt="")
	div.product-detail-item
		div(class="embed-responsive embed-responsive-4by3")
			iframe(class="embed-responsive-item" src="https://www.youtube.com/embed/7xLCggrIRHY" frameborder="0" allowfullscreen)

	div.product-detail-item
		img(src="https://placeholdit.imgix.net/~text?txtsize=46&bg=67ddaf&txtclr=ffffff&txt=435%C3%97435&w=435&h=435" alt="")
	div.product-detail-item
		img(src="https://placeholdit.imgix.net/~text?txtsize=46&bg=c666c6&txtclr=ffffff&txt=435%C3%97435&w=465&h=465" alt="")
	div.product-detail-item
		img(src="https://placeholdit.imgix.net/~text?txtsize=46&bg=67ddaf&txtclr=ffffff&txt=435%C3%97435&w=435&h=435" alt="")
	div.product-detail-item
		img(src="https://placeholdit.imgix.net/~text?txtsize=46&bg=c666c6&txtclr=ffffff&txt=435%C3%97435&w=465&h=465" alt="")

div.product-slider.js-product-slider
	div.product-slider-item
		img(src="https://placeholdit.imgix.net/~text?txtsize=46&bg=67ddaf&txtclr=ffffff&txt=68%C3%9768&w=68&h=68" alt="")
	div.product-slider-item
		img(src="https://placeholdit.imgix.net/~text?txtsize=46&bg=c666c6&txtclr=ffffff&txt=68%C3%9768&w=68&h=68" alt="")
	div.product-slider-item
		img(src="https://placeholdit.imgix.net/~text?txtsize=46&bg=67ddaf&txtclr=ffffff&txt=68%C3%9768&w=68&h=68" alt="")
	div.product-slider-item
		div.product-slider-video
			img(src="images/icons/icon-video.png")
			span Видео
	div.product-slider-item
		img(src="https://placeholdit.imgix.net/~text?txtsize=46&bg=67ddaf&txtclr=ffffff&txt=68%C3%9768&w=68&h=68" alt="")
	div.product-slider-item
		img(src="https://placeholdit.imgix.net/~text?txtsize=46&bg=c666c6&txtclr=ffffff&txt=68%C3%9768&w=68&h=68" alt="")
	div.product-slider-item
		img(src="https://placeholdit.imgix.net/~text?txtsize=46&bg=67ddaf&txtclr=ffffff&txt=68%C3%9768&w=68&h=68" alt="")
	div.product-slider-item
		img(src="https://placeholdit.imgix.net/~text?txtsize=46&bg=c666c6&txtclr=ffffff&txt=68%C3%9768&w=68&h=68" alt="")