div.product-info
	div.product-info-title.js-accordion
		div.product-info-price 29 660,-
		input(type="radio" name="info-complect" id="info-1" checked="")
		label(for="info-1") Стандартный комплект
	div.product-info-desc Стандартная комплекция от Apple. Рекомендуем обратить внимание на другие комплекты, включающие в себя чехля и защитные пленки, чтобы заблаговременно избежать появления и царапин на устройстве.

	div.product-info-title.js-accordion
		div.product-info-price 29 660,-
		input(type="radio" name="info-complect" id="info-2")
		label(for="info-2") Расширенный комплект
	div.product-info-desc
		p Стандартная комплекция от Apple. Рекомендуем обратить внимание на другие комплекты, включающие в себя чехля и защитные пленки, чтобы заблаговременно избежать появления и царапин на устройстве.

	div.product-info-title.js-accordion
		div.product-info-price 29 660,-
		input(type="radio" name="info-complect" id="info-3")
		label(for="info-3") Селфи-комплект

	div.product-info-desc
		p Стандартная комплекция от Apple. Рекомендуем обратить внимание на другие комплекты, включающие в себя чехля и защитные пленки, чтобы заблаговременно избежать появления и царапин на устройстве.
		ul
			li пункт 1
			li пункт 2
			li пункт 3

	div.product-info-title.js-accordion
		div.product-info-price 29 660,-
		input(type="radio" name="info-complect" id="info-4")
		label(for="info-4") Набор автомобилиста
	div.product-info-desc
		p Стандартная комплекция от Apple. Рекомендуем обратить внимание на другие комплекты, включающие в себя чехля и защитные пленки, чтобы заблаговременно избежать появления и царапин на устройстве.
		ol
			li пункт 1
			li пункт 2
			li пункт 3
