#utp
	.container
		ul.navbar.navbar-horizontal

			li#utp1
				.ico
				.title Быстрая доставка

			li#utp2
				.ico
				.title Простой возврат

			li#utp3
				.ico
				.title Скидки и акции

			li#utp4
				.ico
				.title Консьерж-сервис

			li#utp5
				.ico
				.title А еще мы классные ;-)